extends layout

block content
  .content
    h1 Movie List
    if user
      p.welcome Welcome, #{user.username}!
    else
      p Please login or register to add movies.
    .movie-grid
      if movies && movies.length > 0
        ul
          each movie in movies
            li.movie-card
              a(href=`/movies/${movie._id}`) #{movie.name} (#{movie.year})
      else
        .no-movies
          p No movies yet. Start by adding your first movie!